<footer class="bg-dark text-center text-lg-start fixed-bottom py-3 py-lg-4" id="footer">
	<ul class="nav justify-content-center border-bottom pb-3 mb-3">
		<li class="nav-item">
			<a href="{{ path('home.index') }}" class="nav-link px-2 text-white">Accueil</a>
		</li>
		<li class="nav-item">
			<a href="{{ path('ingredient.index') }}" class="nav-link px-2 text-white">Ingredients</a>
		</li>
		<li class="nav-item">
			<a href="{{ path('recipe.index') }}" class="nav-link px-2 text-white">Recette</a>
		</li>
	</ul>
	<p class="text-center text-white">© 2022 Company, Inc</p>
</footer>
