
{% extends "base.html.twig" %}

{% block title %}Symrecipe - Accueil
{% endblock %}

{% block body %}

<div class="jumbotron">
  <h1 class="display-4">Bienvenue sur mon site internet développé en Symfony</h1>
  <p class="lead">Elle va permettre d'apprendre les bases de Symfony</p>
  <hr class="my-4">
  <p>Pour voir du contenu exclusive, il faudra vous connecter ici</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
  </p>
</div>

{% endblock %}


