{% extends 'base.html.twig' %}

{% block title %}Symrecipe - Inscriptions
{% endblock %}

{% block body %}
	<div class="container " style="padding-bottom: 155px;">
		<h1 clas="mt-4"></h1>
		{{ form(form) }}
		</div>
	{% endblock %}
